.news {
    width: 1320px;
    height: 616px;
border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
}

.pic {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    place-items: center;
    margin: 80px 186px 585px;

}
