*{ 
    padding: 0;
    margin: 0;
}
header { 
    display:flex;
    justify-content: center;
}
.banner {
    background-image: url('resources/Banner Image.png');
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1320px;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

}
.banner h1,
.banner h3{
    text-align: center;
    color: white;
}
.banner h3 {
    font-size: 32px;
    font-weight: 400;
}
.banner h1 {
    font-size: 72px;
    font-weight: 900;
    line-height:95px;
}
/* banner design done */
/* offer design starts */
.offer {
    display: flex;
    flex-direction:  column;
    justify-content: center;
    align-items: center;
    
}
.offer h1 {
    color: red;
    text-align: center;
    text-shadow: 0px 4px 4px black;
    font-size: 88px;
    font-family: inter;
    height: normal;
    font-weight: 700;
    flex-shrink: 0;
    font-style: normal;
    margin-bottom: 48px;
}
.offer h4 {
    color: red;
    text-align: center;
    font-family: inter;
    font-size: 24px;
    font-weight: 500;
    height: normal;
    font-style: normal;
}
.offer h3 {
    color: black;
    text-align: center;
    font-family: inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.offer img {
    height: 500px;
    width: 802.9;
}
/* offer design ends here */
/* party selection design starts */
.party {
    background-image: url('resources/Vectorrr.png');
     height: 600px;
     width: 1320px;
     margin: 70px auto;
     background-position: center; 
     background-repeat: no-repeat;
     background-size: cover;
     display: flex;
     flex-direction: row;
     justify-content: center;
     color: white;
     display: flex;
     justify-content: space-around;
     align-items: center;
    
    }
    .party h1{
        color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; /* 137.5% */
letter-spacing: 7.04px;
    }
    .t-btn {
        background-color: transparent;
        border: 1px solid transparent;
        margin: 10px 38px;
        color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
    }
    /* party design ends here */
    /* address design starts here */
    .address {
        background-color: pink;
        background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
        width: 1320px;
height: 482px;
margin: 50px auto;
display: flex;
justify-content: center;
gap: 30px;

    }
    .color {
        color: red;
    }
    .text {
text-align: center;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px; /* 175% */
text-transform: capitalize;
margin: auto 0;
    }
    .abtn {
        color: #FFF;
        border: 0;
font-size: 20px;
font-weight: 700;
border-radius: 8px;
background: #F00;
padding: 15px 35px;
    }
    /* address design ends here */